body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: 1px solid #e20000;
    border-radius: 20px;
}
h1{
    color: #e20000;
    font-size: 36px;
}
h3{
    font-size: 14px; 
    color:#282828;
    font-weight: 300;
}
p{
    color: #6a6a6a;
    font-size: 16px;
}
textarea{
    height: 150px;
}
#inicio{
    background-image: url('../images/fondo-inicio.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#sobre-mi{
    background-image: url('../images/fondo-proyectos.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#contacto{
    background-image: url('../images/fondo-contacto.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#proyectos{
    background-image: url('../images/fondo-proyectos.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.div-cohete{
    height: 410px;
}
.cohete{
    height: 400px;
}
.cohete:hover{
    height: 410px;
}
#inicio p{
    color:white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 400;
}
#inicio span{
    text-decoration: underline; 
    font-weight: bold;
}
.img-circle {
    margin: 1em auto;
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.foto{
    height: 261px;
}
#experiencia{
    background-color: #eee;
}
#experiencia h2,#experiencia h4{
    color: #370a6d;
}
#experiencia h3,#formacion h3,#cursos h3{
    color: #6a6a6a;
}
#formacion{
    background-color: #fff;
}
#formacion h2, #formacion h4{
    color: #e20000;
}
#cursos h2, #cursos h4{
    color: #e20000;
}
#cursos h5{
    color: #6a6a6a;
    font-size: 14px;
}
#cursos h3{
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 600;
}
.baw {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
}
.baw:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter:grayscale(0%);
}
.card-experiencia,.card-curso,.card-formacion{
    border-radius: 15px;
    padding: 40px 0;
}
.card{
    height: 190px;
}
#idiomas .card-idioma{
    border-radius: 15px;
}
#idiomas .card{
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}
#idiomas{
    background-color: #eee;
}
#idiomas h2{
    font-size: 16px;
    font-weight: 600px;
}
#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: #282828;
    list-style-type: none;
}
#idiomas .fas{
    font-size: 80px;
    color: white;
}
.btn{
    background-color: white;
    color: #370a6d;
    border-radius: 14px;
}
.btn:hover{
    color: white;
    background-color: #370a6d;
}
#proyectos p{
    font-size: 14px;
}
.bordes {
    box-shadow: 0px 0px 10px 2px #d3d3d3;
    border-radius: 15px;
}
.proyecto img{     
    height: 162px;
    width: 346px;
    box-shadow: 0px 0px 10px 2px #d3d3d3;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}
.proyecto{
    border: 1px solid #eee;
    background-color: white;
}
.proyecto p{
    font-size: 14px;
    height: 148px;
}
.proyecto a{
    color: #E20000;
}
.link-rojo a{
    text-decoration: none;
    color: #E20000;
}
#proyectos footer, #proyectos footer a, #sobre-mi footer, #sobre-mi footer a{
    color: #E20000;
    font-weight: 400;
}
#proyectos footer .fa-github, #sobre-mi footer .fa-github{
    font-size: 30px;
    color: #E20000;
}
#proyectos footer .fa-linkedin-in{
    color: white;
    background-color: #E20000;
}
.color-gradiante{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(180, 2, 2) 0%, rgba(240,0,0,1) 66%, rgba(240,0,0,1) 100%);
}
.form-control{
    border-radius: 14px;
}
.btn-blanco{
    background-color: white;
    color: #370a6d;
    border-radius: 14px;
}
.btn-blanco:hover{
    color: white;
    background-color: #370a6d;
}
.btn-rojo{
    background-color: #e20000;
    color: white !important;
    border-radius: 15px;
    font-weight: 100;
}
.btn-rojo:hover{
    color: white;
    background-color: #370a6d;
}
.whatsapp{
    background-color:#370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;
}
footer, footer a{
    color: white;
    font-weight: 100;
}
footer .fa-github{
    font-size: 30px;
    color: white;
}
footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.whatsapp a{
    color: white;
}    
@media (max-width: 750px) {
    #inicio, #contacto {
        background-image: url(../images/fondo-proyectos.png);
        background-size: 100%;
    }
    #proyectos{
        background-size: 100%;
    }
    #inicio p {
        color: #E20000;
        border: 1px solid #E20000;
    }
    footer a{
    color: #E20000;
    }
    #sobre-mi .logo{
        padding-left: 14px!important;
    }
}